/* DARK MODE */
body.dark{
    --color-correct: #538d4e;
    --color-present: #b59f3b;
    --color-absent: #3a3a3c;
    --background: #121213;
    --text-color: #fff;
    --border-color: #3a3a3c;
    --key-bg: #818384;
}

/* LIGHT MODE */
body{
    --color-correct: #6aaa64;
    --color-present: #c9b458;
    --color-absent: #787c7e;
    --background: #fff;
    --text-color: #000;
    --border-color: #d3d6da;
    --key-bg: #d3d6da;
}

:root{
    --header-height: 66px;
}